<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rom&Ram AB</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>

    <body>

        <div class="carousel slide" id="carousel-478037">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carousel-478037">
                </li>
                <li data-slide-to="1" data-target="#carousel-478037">
                </li>
                <li data-slide-to="2" data-target="#carousel-478037">
                </li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="Carousel Bootstrap First" src="img/nacka-vy-1.jpg">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>
                                Rom & Ram AB
                            </h1>
                            <p>
                                När kvalitet och noggrannhet är viktigt.
                                Rom&Ram är specialicerade på Java och experter på allt mellan internet och användaren.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img alt="Carousel Bootstrap Second" src="img/waterskiing_wide.jpg">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>
                                Snabbt och effektivt
                            </h1>
                            <p>
                                Vi utför alla uppdrag på det mest kostnadseffektiva sättet för alla inblandade.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img alt="Carousel Bootstrap Third" src="img/stugan_varpen_wide.jpg">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>
                                Med tonvikt på slutanvändaren
                            </h1>
                            <p>
                                Rom & Ram AB sätter alltid slutanvändaren i främsta rummet.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-478037" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#carousel-478037" data-slide="next">›</a>
        </div>
        <div class="container marketing">
            <div class="row">
                <div class="span4">
                    <h2>Continuous Delivery Pipeline</h2>
                    <p>Alla organisationer gynnas av Continuous Delivery Pipeline, CDP.</p>
                </div>
                <div class="span4">
                    <h2>Continuous Delivery Pipeline</h2>
                    <p>Alla organisationer gynnas av Continuous Delivery Pipeline, CDP.</p>
                </div>
                <div class="span4">
                    <h2>Continuous Delivery Pipeline</h2>
                    <p>Alla organisationer gynnas av Continuous Delivery Pipeline, CDP.</p>
                </div>
            </div>
        </div>

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>

</html>